<?xml version="1.0" encoding="UTF-8"?>
<!-- The id must be unambiguous, reverse-domain format is used --> 
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-logentries" version="0.0.1">
        
    <!-- Name, description and other stuff-->
    <name>Cordova LogEntries</name>
    <description>cordova plugin for LogEntries</description>
    <license>Apache 2.0</license>
    <keywords>LogEntries</keywords>

    <!-- Define the path to the common JavaScript interface -->
    <js-module src="www/LogEntries.js" name="LogEntries">
        <!-- indicates that the module.exports is inserted into the window object as window.customaction You can have as many <clobbers> as you like.-->
        <clobbers target="LogEntries" />
    </js-module>
 
    <platform name="ios">
        <preference name="LOG_ENTRIES_API_KEY" />
         <config-file target="config.xml" parent="/*">
            <feature name="LogEntries">
                <param name="ios-package" value="LogEntries" />
                <param name="onload" value="true" />
            </feature>
         </config-file>
         <header-file src="src/ios/LogEntries.h" />
         <source-file src="src/ios/LogEntries.m" />
         <header-file src="src/ios/lelib/LEBackgroundThread.h" />
         <source-file src="src/ios/lelib/LEBackgroundThread.m" />
         <header-file src="src/ios/lelib/lecore.h" />
         <source-file src="src/ios/lelib/lecore.m" />
         <header-file src="src/ios/lelib/lelib.h" />
         <header-file src="src/ios/lelib/LELog.h" />
         <source-file src="src/ios/lelib/LELog.m" />
         <header-file src="src/ios/lelib/LeNetworkStatus.h" />
         <source-file src="src/ios/lelib/LeNetworkStatus.m" />
         <header-file src="src/ios/lelib/LogFile.h" />
         <source-file src="src/ios/lelib/LogFile.m" />
         <header-file src="src/ios/lelib/LogFiles.h" />
         <source-file src="src/ios/lelib/LogFiles.m" />
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LogEntries">
                <param name="android-package" value="LogEntries"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/LogEntries.java" target-dir="src/com/spoonconsulting/LogEntries"/>
    </platform>  
     
</plugin>